@media screen and (max-width: 991px) {
  .body_container {
    padding-left: 10px;
  }

  /*ide Navbar*/
  .side_navbar .toggle_icon {
    display: block;
    position: absolute;
    left: 0;
    z-index: 9999;
  }

  .side_navbar {
    left: -100%;
    transition: all 0.5s ease-in-out;
    z-index: 9999 !important;
  }

  .side_navbar.active {
    left: 0;
    transition: all 0.5s ease-in-out;
  }

  /* Top Navbar */
  .top_navbar {
    position: sticky !important;
  }

  .top_navbar .toggle_icon{
    display: block;
  }

  /*Login Page*/
  .logIn_page {
    height: 80vh !important;
  }

  .logIn_footer {
    margin-top: -50px;
  }

  .logIn_page .login_img {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .breadcrumb {
    display: none;
  }
  .right_nav_item{
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 675px) {
  
}

@media screen and (max-width: 576px) {
  .right_nav_item .T_mobile{
    display: none;
  }
}

@media screen and (max-width: 450px) {

  .logIn_page .login_header {
    flex-wrap: wrap;
  }

  .custom-selector {
    max-width: 100%;
    width: 100vw;
  }
}