@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@300;400;500;600;700;800&display=swap");

:root {
  /* COLOR */
  --primary-color: #09a4ef;
  --secondary-color: #1155c0;
  --btn-color: #432cf3;
  --title-color: #101828;
  --description-color: #718096;
  --white-color: #ffffff;
  --gray-200: #e4e7ec;
  --border-color: #e2e8f0;
  /* TYPOGRAPHY */
  --body-font: "Inter", sans-serif;
  --title-font: "Manrope", sans-serif;
  /* Font Size */
  --h1-font-size: 32px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  /* Font Weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-ex-bold: 800;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background: #fafafa !important;
}

h1,
h2,
h3,
ul {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  font-family: var(--body-font);
  color: var(--title-color);
  font-weight: var(--font-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-family: var(--body-font);
  color: var(--title-color);
  font-weight: var(--font-bold);
}

h3 {
  font-size: var(--h3-font-size);
  font-family: var(--body-font);
  color: var(--title-color);
  font-weight: var(--font-bold);
}

p {
  font-size: var(--normal-font-size);
  color: var(--description-color);
  margin: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: var(--description-color);
}

hr {
  border: 1px solid #475467;
}

img {
  max-width: 100%;
  height: auto;
}

.icons {
  font-size: 24px;
  color: #5d6a83;
}

.button {
  border: none !important;
}

textarea,
input {
  padding: 16px 16px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
}

.form-control {
  height: 50px;
}

.form-control::placeholder {
  font-size: var(--normal-font-size);
  color: #a0aec0;
}

input[type="checkbox"] {
  width: 16px;
}

label {
  font-size: 14px;
  font-weight: var(--font-medium);
}

.card {
  border: none;
}

.amin {
  height: 100vh;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0 !important;
}

.breadcrumb .breadcrumb-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumb .breadcrumb-menu .list a {
  padding: 4px 8px;
  font-size: var(--small-font-size);
  border-radius: 6px
}

.breadcrumb .breadcrumb-menu .list a.active {
  background: #e8edff;
  color: #09a4ef;
}

/* Common css */
input:focus {
  border: 1px solid var(--secondary-color) !important;
  outline: none;
  box-shadow: none;
}

.body_container {
  width: 100%;
  height: calc(100vh - 100px);
  padding-left: 280px;
  padding-right: 10px;
}

.container-fluid {
  width: 100%;
  /* height: auto; */
  padding: 32px;
  background: #EDF2F7;
  margin-top: 20px;
  border-radius: 24px;
  margin-bottom: 20px !important;
}


.btn {
  padding: 12px 25px;
  background: var(--btn-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  cursor: pointer;
}

.btn_s {
  padding: 12px 25px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn_b {
  background: #101828;
  padding: 12px 16px;
  color: var(--white-color);
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: none;
}

.btn_b .icons {
  color: var(--white-color);
}

.btn_s .icons {
  color: var(--primary-color);
}

.btn_b:hover {
  background: var(--secondary-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.btn_s:hover,
.btn:hover {
  background: #1155c0;
  color: var(--white-color);
  border: 1px solid transparent !important;
}

.btn_group {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn_area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.logo {
  width: auto;
  height: 35px;
}

.section_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.section_title .text_area p {
  margin-top: 10px;
}

.search_bar {
  margin-bottom: 18px;
}

.search_bar .ant-input-prefix {
  margin-top: 3px;
}

.search_bar span.ant-input-affix-wrapper {
  background: #edf2f7;
}

.search_bar span.ant-input-affix-wrapper input {
  background: #edf2f7;
  padding-left: 5px;
}

.search_bar .icons {
  color: #718096;
}

.body_content {
  margin-left: 0 !important;
  margin-right: 10px !important;
}

/* ===============
All Navar CSS 
================= */
/* Said Navbar */

.side_navbar {
  background: #fafafa;
  width: 280px;
  height: 100vh;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10 !important;
}

.side_navbar .logo {
  height: 30px;
}

.side_navbar .nav_list_area {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.side_navbar .nav_list_area .menu_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.side_navbar .nav_list_area .menu_list .nav_list a {
  display: flex;
  align-items: center;
  gap: 12px !important;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
}

.side_navbar .nav_list_area .menu_list .nav_list a path {
  fill: #ff0000;
}

.complite_profile {
  padding: 16px;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.complite_profile p,
.complite_profile span {
  color: var(--white-color) !important;
  font-size: var(--small-font-size);
}

.complite_profile p.title {
  font-weight: 500;
  font-size: var(--small-font-size);
}

.complite_profile span {
  margin-top: 8px;
}

.complite_profile span a {
  font-weight: 500;
  color: var(--white-color) !important;
  margin-left: 10px;
  font-size: var(--small-font-size);
}

.complite_profile .ant-progress-inner {
  width: 64px !important;
  height: 64px !important;
  font-size: 16px;
  margin-bottom: 16px;
}

.complite_profile .ant-progress-text {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--white-color) !important;
}

.complite_profile p {
  color: var(--gray-200);
  font-size: var(--small-font-size);
}

.progress_bar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.progress_bar .percent {
  position: relative;
}

.progress_bar svg {
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(-90deg);
}

.progress_bar svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #96a3be;
  stroke-width: 7;
  stroke-linecap: round;
}

.progress_bar svg circle:last-of-type {
  stroke-dasharray: 176px;
  stroke-dashoffset: calc(176px - (176px * var(--percent)) / 100);
  stroke: #3498db;
}

.progress_bar .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress_bar .number p {
  color: var(--white-color);
}

.progress_bar:nth-child(1) svg circle:last-of-type {
  stroke: var(--white-color);
}

.sidenav_user,
.sidenav_user .user {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.sidenav_user .user p span {
  font-size: var(--small-font-size);
  color: var(--description-color);
}

.sidenav_user .user p {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 500;
}

.sidenav_user .user p.gmail {
  color: var(--description-color);
  font-weight: 400;
}

.sidenav_user .user_img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100px;
}

.sidenav_user .logout_icon {
  rotate: -90deg;
  font-size: 24px;
}

/* Top Navbar */

.top_navbar {
  width: 100%;
  background: #fafafa;
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 32px;
  z-index: 1;
  border: 1px solid #cbd5e0;
  border-radius: 12px;
  z-index: 99;
}

.top_navbar .toggle_icon {
  display: none;
}

.topbar_nav_item {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  gap: 30px;
  width: 100%;
}

.right_nav_item,
.top_nav_icon_list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.top_nav_icon_list img {
  min-width: 20px;
  min-height: 20px;
}

.header_toggle_btn {
  margin-left: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  min-width: 50px;
  min-height: 50px;
  background: #0000001a;
}

.top_nav_sell_btn {
  padding: 5px 10px;
  background: #1a202c;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: normal;
  border-radius: 8px;
  min-width: max-content;
}


.top_nav_sell_btn img {
  min-width: 10px !important;
  min-height: 10px !important;
}

.header_toggle_btn .icons {
  font-size: 30px !important;
  color: var(--title-color)
}

.header_toggle_btn:hover {
  background: none !important;
}

.right_nav_item .T_mobile {
  padding-left: 30px;
  border-left: 1px solid var(--border-color);
  line-height: normal;
}

/*=============================================================
 ==============================================================
All pages css start
===============================================================
==============================================================*/

/* =============== LogIn Page CSS ================= */

.logIn_page {
  padding: 30px;
  width: 100%;
  height: 92vh !important;
  /* background: var(--white-color) !important; */
}

.logIn_page .row {
  height: 100%;
}

.logIn_page .login_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.logIn_page .form_area {
  width: 500px;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .logIn_page .form_area {
    width: 100%;
  }
}

.logIn_page .form_area h3 {
  text-align: justify;
  font-size: 24px;
  margin-left: 5px;
}

.logIn_page .form_area .desc {
  font-size: 18px;
  color: #131b28;
}

.logIn_page .form_area .remember_me {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logIn_page .form_area .remember_me p {
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.logIn_page .form_area .fuP {
  font-weight: var(--font-medium);
  color: var(--secondary-color);
  text-decoration: underline !important;
}

.logIn_page .form_area .btn {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.logIn_page .form_area .forget_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 30px;
}

.logIn_page .form_area .redio_input {
  width: auto;
}

.custom-selector {
  max-width: 200px;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 12px;
}

.custom-selector .selector-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 12px 16px;
}

.custom-selector .options-list {
  list-style: none;
  margin-top: 10px;
  padding: 0;
  position: absolute;
  width: 100%;
  border: 1px solid var(--border-color);
  display: none;
  background-color: var(--white-color);
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
}

.custom-selector .options-list .option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-selector .selected-option {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 0;
}

.options-list-visible {
  display: block !important;
}

.custom-selector .option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-selector .option:hover {
  background-color: #f0f0f0;
}

.custom-selector .icons {
  transition: all 0.5s ease-in-out;
}

.custom-selector .rotate-icon {
  rotate: 180deg;
  transition: all 0.5s ease-in-out;
}

#password-toggle {
  color: var(--title-color);
}

.logIn_page .logIn_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.logIn_page .login_img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.logIn_page .login_banner_text {
  font-size: 36px;
  margin-right: -80px;
}

.logIn_page .login_banner_text {
  width: 480px;
  text-align: center;
  margin-top: 80px;
  padding: 0 20px;
}

.logIn_page .login_banner_text h2 {
  color: var(--title-color);
}

.logIn_page .login_banner_text p {
  margin-top: 24px;
  color: var(--description-color);
}

.logIn_page .input_item {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.logIn_page .input_item.password {
  position: relative;
}

.logIn_page .input_item.password input {
  position: relative;
  padding-right: 50px;
}

.logIn_page .input_item.password .icons {
  position: absolute;
  right: 16px;
  color: var(--description-color) !important;
}

/* =============== Dashboard Page ================= */

.dashboard_page .section_title .text_area h1 {
  font-size: 30px;
  font-family: var(--body-font);
  font-weight: 500;
}

.dashboard_page .section_title .btn_area .icons {
  color: var(--white-color);
  font-size: 20px;
}

.dashboard_page .date_picker {
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: auto;
}

.dashboard_page .date_picker {
  font-size: var(--normal-font-size);
  font-weight: 600;
  border: none !important;
}


.dashboard_page .all_card_group {
  margin-top: 32px;
  padding: 20px;
  background: var(--white-color);
  border-radius: 16px;
}

.dashboard_page .all_card_group .card {
  border-radius: 12px;
  background: #b5e4ca40;
  padding: 16px;
}

.dashboard_page .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.dashboard_page .swiper-slide {
  height: calc((100% - 30px) / 2);
  margin-top: 0 !important
}

.dashboard_page .swiper-grid-column>.swiper-wrapper {
  display: flex;
  flex-direction: row;
  row-gap: 30px;
}

.swiper-button-disabled {
  display: none !important;
}

.dashboard_page .swiper-button-prev,
.dashboard_page .swiper-button-next {
  min-width: 56px;
  min-height: 56px;
  background: var(--white-color) !important;
  padding: 10px !important;
  border-radius: 100px;
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dashboard_page .swiper-button-prev:after,
.dashboard_page .swiper-button-next:after {
  font-size: 16px;
  font-weight: 600;
  color: var(--title-color);
}

.dashboard_page .all_card_group .card h1 {
  font-family: var(--title-font);
  font-weight: 800;
}

.dashboard_page .all_card_group .card .card_icons {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  background: #1a1d1f;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard_page .all_card_group .card .card_icons svg {
  font-size: 20px;
  color: var(--white-color);
}

.dashboard_page .all_card_group .card .card-body h1 {
  margin: 5px 0;
}

.dashboard_page .all_card_group .card .card-body .card_sm_title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dashboard_page .all_card_group .card .card-body p {
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--title-color);
}

.dashboard_page .all_card_group .card .card-body .card_status_text p {
  display: flex;
  align-items: center;
  background: var(--white-color);
  width: max-content;
  padding: 4px 8px;
  border-radius: 2px;
}

.dashboard_page .all_card_group .card .card-body .card_status_text span {
  display: flex;
  align-items: center;
}

.dashboard_page .all_card_group .card .card-body .card_status_text span .icons {
  font-size: 16px;
}

.dashboard_page .all_card_group .card .card-body .card_status_text .up,
.dashboard_page .all_card_group .card .card-body .card_status_text .up .icons {
  color: #83bf6e;
}

.dashboard_page .all_card_group .card .card-body .card_status_text .down,
.dashboard_page .all_card_group .card .card-body .card_status_text .down .icons {
  color: #ff6a55;
}

.dashboard_page .all_card_group .card .card-body .card_status_text .down .icons {
  rotate: 180deg;
}

.dashboard_page .all_card_group .row {
  row-gap: 20px;
}

.dashboard_page .all_card_group .d_card_1 {
  background: #b5e4ca40;
}

.dashboard_page .all_card_group .d_card_2 {
  background: #B1E5FC40;
}

.dashboard_page .all_card_group .d_card_3 {
  background: #BDFFD040;
}

.dashboard_page .all_card_group .d_card_4 {
  background: #FCE2B140;
}

.dashboard_page .all_card_group .d_card_5 {
  background: #dde4b540;
}

.dashboard_page .all_card_group .d_card_6 {
  background: #fcb1ec40;
}

.dashboard_page .all_card_group .d_card_7 {
  background: #cabdff40;
}

.dashboard_page .all_card_group .d_card_8 {
  background: #FCB1B140;
}


.chart_box {
  background: var(--white-color);
  padding: 30px;
  margin-top: 32px;
  border-radius: 16px;
}

.chart_box .chart_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-bottom: 24px;
}

.chart_box .text_area h1 {
  margin-bottom: 4px;
  font-weight: 700;
  color: #272b30;
}

.chart_box .status span {
  color: #83bf6e;
  background: #eafae5;
  padding: 4px;
}

.chart_box .chart_right_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chart_box .chart_right_content .slide_btn {
  width: 40px;
  height: 40px;
  background: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart_box .chart_right_content .icons {
  font-size: 30px;
  font-weight: 400;
  font-size: 20px;
}

.chart_box .chart_right_content .slide_btn:hover {
  background: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.chart_box .chart_right_content .slide_btn:hover .icons {
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.chart_box .chart_item .dash_sale_plan {
  padding: 4px;
  background: #edf2f7;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.chart_box .chart_item .dash_sale_plan .d_btn {
  padding: 8px 16px;
  height: 36px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: #6f767e;
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--body-font);
  background: transparent !important;
}

.chart_box .chart_item .dash_sale_plan .d_btn.active {
  background: #1a202c !important;
  color: var(--white-color) !important;
  transition: all 0.5s ease-in-out;
}

.chart_box .chart_item {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 30px;
}

.chart_box .chart_item .items.left {
  gap: 56px;
}

.chart_box .chart_item .items.right .form-select{
  width: 130px;
}

.chart_box .chart_item .items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.chart_box .chart_item .items h3 {
  position: relative;
  margin-left: 40px;
  padding: 4px 0;
}

.chart_box .chart_item .items h3::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 100%;
  background: #ffbc99;
  left: -40px;
  top: 0;
  border-radius: 8px;
}

.dot_toggle_btn {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: var(--white-color);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}




/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */
/* =============== LogIn Page CSS ================= */